*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}


/*nuevos estilo */ 
ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color: black;
  }
  
  nav a {
    color: black;
    transition: 0.3s;
  }

  nav a:hover {
    color:  #ff7235;
    border-bottom: 2px solid  #ff7235;
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: bold;
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }


  .logo{
    font-size: 3rem;
    border: 0;
    display: inline;
  }

  .logo img{
    display: flex;
    background-color: white;
    height: 90px;
    width: 90px;
  }
  
  .about {
    padding: 1rem 6rem;
    justify-content: center;
  }

  .h2-about{
    text-align: center;
    text-decoration: underline;
    padding: 1rem 6rem;
  }
/* Home */
  .upcoming {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1rem 6rem;
  }

  .p-upcoming{
    font-size: xx-large;
    padding: 1rem 6rem;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
  }

  /* contact */
  .correo{
    text-align: center;
    padding: 1rem 6rem;
  }

  .dato{
    color: blue;
  }
   .dato:hover {
    color:  #ff7235;
    border-bottom: 2px solid  #ff7235;
    
   }
  
  .titulo-events{
    padding: 1rem 6rem;
    text-decoration: underline;

  }
  
  .h2 {
    margin-bottom:0.5rem;;
    text-align: center;
  }
  
  .p {
    line-height: 1.7rem;
    padding: 0.4rem;
    text-align: center;
  }

  .imagen1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 68.75rem;
    margin: auto;
    background-color: #fff;
    border-radius: 11px;
    padding: 1rem 6rem;
  }

  .imagen2 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 68.75rem;
    margin: auto;
    background-color: #fff;
    border-radius: 11px;
    padding: 1rem 6rem;
  }

  .imagen3 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 68.75rem;
    margin: auto;
    background-color: #fff;
    border-radius: 11px;
    padding: 1rem 6rem;
  }

/*game_info*/ 

.information{
   text-align: center;
   padding: 1rem 6rem;
   
}

  .table-info{
    border: 2px solid #ffe4c7;
    background-color: #fbf5ef;
    width: 100%;
    text-align: center;
  }

  .table-info td,.table-info th {
    border: 4px solid #d2c8bd;
    padding: 4px 4px;}

  .p-info{
    font-size: xx-large;
    font-weight: bold;
    padding: 2px;
    text-align: center;
  }  

  .h2-info{
    font-size: medium;
    padding: 2px;
    text-align: left;
  }

  .h3-info{
    font-size: medium;
    padding: 2px;
    text-align: left;
    text-decoration-line: underline;
  }

  .more-info{
    justify-content: left;
    padding: 1rem 6rem;
  }

  .b{
    font-weight: bold;
  }


  /*Rules*/

  .listas{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 6rem;
    line-height: 2rem;
    
  }

  .title-rules{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    
  }
  
  .sub-title-rules{
    font-family: Arial, Helvetica, sans-serif;
    justify-content:center;
    font-weight: normal;
    display: flex;
  }

  .text-rules{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: revert;
  }
  

  
    